body {
    font-family: 'Monoton', cursive;
    font-weight: 700;
    color: navy;
}

th {
    background-color: navy;
    font-size: 100%;
    color: white;
}

.error {
    font-size: 100%;
    color: red;
}

.ui-widget-content {
    font-family: inherit;
    font-weight: inherit;
    opacity: 0.8;
}