body{
    font-family: 'Monoton', cursive;
    font-weight:700;
    color:navy;
}

th {
    background-color: navy;
    font-size:100%;
    font:inherit;
    color: white;
}

.error{
	font-size:100%;
	font:inherit;
	color: red;
}