@font-face {
    font-family: 'Monocraft';
    src: url('./font/Monocraft.ttf') format("truetype");
    font-weight: 700;
}

body {
    font-family: 'Monocraft', cursive;
    font-size: 100%;
    color: limegreen;
    background-color: black;
}

th {
    font-size: 100%;
    background-color: limegreen;
    color: black;
}

.error {
    font-size: 100%;
    color: red;
}

.ui-widget-content {
    font-family: inherit;
    font-weight: inherit;
    opacity: 0.8;
}