@font-face {
    font-family: 'Monocraft';
    src: url('./font/Monocraft.ttf') format("truetype");
    font-weight:700;
}

body{
    font-family: 'Monocraft', cursive;
    font-size: 100%;
    color: limegreen;
    background-color: black;
}

th {
    font-size:100%;
    font:inherit;
    background-color: limegreen;
    color: black;
}

.error{
    font-size:100%;
    font:inherit;
	color: red;
}

.ui-widget-content{
    opacity:.8;
	font-family: inherit;
    font-weight:inherit;
}